<<<<<<< HEAD
.pagination {
  margin: 0 0 2.5rem;
}
.posts.index {
  margin-right: 1rem;
  margin-left: 1rem;

  font-size: .8rem;

  color: $gray-dark;
}
=======
.pagination {
  margin: 0 0 2.5rem;
}
.posts.index {
  margin-right: 1rem;
  margin-left: 1rem;

  font-size: .8rem;

  color: $gray-dark;
}
>>>>>>> 4927e3710fb57e1f176383c701f884cc9f573b04
