<<<<<<< HEAD
<section class="icon icon-search" id="search-container">
  <hr class="divider short" />
  <form id="search-form">
    <input type="text", name="search", placeholder="git, css, javascript,..." id="search-field" />
  </form>
</section>
=======
<section class="icon icon-search" id="search-container">
  <hr class="divider short" />
  <form id="search-form">
    <input type="text", name="search", placeholder="git, css, javascript,..." id="search-field" />
  </form>
</section>
>>>>>>> 4927e3710fb57e1f176383c701f884cc9f573b04
